<div id="for">
    <h4 class="mb-3">Formulario de preguntas</h4>
    <form class="needs-validation" novalidate>
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div id="h2" class="invalid-feedback">
            Nombre es requerido
          </div>
        </div>
  
        <div class="col-sm-6">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Apellido es requerido
          </div>
        </div>
  
       
  
        <div class="col-12">
          <label for="email" class="form-label">Email <span class="text-body-secondary">(Opcional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="@">
          <div class="invalid-feedback">
            Ingresa un email valiido
          </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe tu pregunta</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button id="boton1" type="submit">Envíe su mensaje</button>
          </div>

          <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3103.7198736243695!2d-67.98789793675765!3d-38.93037976655061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses-419!2sar!4v1731086846384!5m2!1ses-419!2sar"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>